# installed with npm install
node_modules/

# JetBrains IDE directory
.idea/

# git directory
.git/

# mac user
.DS_Store

# built with npm command
build/

# log files
*.log

# doc
doc/

# flow
.flowconfig
